*, html {
    margin:0;
    padding:0;
}
.col-1{
  width: 40%;
  max-width: 896px;
  height: 80px;
  padding: 0;
  margin: 40.7%;
  position: absolute;
  right: -102px;
  background-color: blue;
  border: solid 3px black;


}
.container {
    width: 100%;
    max-width: 900px;
    height: 90px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}
    .col-2 {
      width: 40%;
      max-width: 896px;
      height: 80px;
      padding: 0;
      position: absolute;
      left:390px;
      background-color: blue;
      border: solid 3px black;
    }
    .col-3 {
        width: 30%;
        height: 415px;
        position:absolute;
        left:465px;
        bottom:134px;
        padding-bottom:115px;
        background-color: white;
        border: solid 3px black;
    }
    .col-4 {
        width: 10%;
        height: 698px;
        float: left;
        position: absolute;
        background-color: yellow;
        border: solid 3px black;
    }
    .footer {
      width: 10%;
      height: 698px;
      right:450px;
      position: absolute;
      background-color: white;
      border: solid 3px black;
    }
